@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Gilroy:wght@300;400;500;700&display=swap");

* {
  /* background-color: #000;
  background-color: #fff; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* color: white; */
}
.serchicon {
  display: none;
}
.hamburg {
  display: none;
}
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
.serchicon {
  display: none;
}

.logo {
  /* width: 50%; */
  /* background-color: red; */
  margin-bottom: 20px;
}

.hero {
  height: 700px;
  width: 100%;
}
.hero-content {
  color: white;
  position: relative;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.05);
  height: 530px;
}

.header {
  border-radius: 20px;
  z-index: 99;
  padding: 10px;
  margin-top: 10px;
}
.header::after {
  position: absolute;
  z-index: -1;
  content: "";
  background: rgba(248, 251, 248, 0.9);
  /* width: 961px; */
  /* width: 1284.49px; */
  height: 56px;
  /* padding: 20px; */
  /* margin-left: 54px; */
  margin-top: 10px;
  border-radius: 20px;
}

.item {
  margin: 10px 20px;
  color: #000;
}
.nav_section {
  z-index: 99;
}

.serachs input {
  padding: 7px 21px;
  gap: 10px;
  margin-top: 10px;
  width: 253px;
  height: 35px;

  background: #ffffff;
  border-radius: 15px;
}
.dot {
  font-size: 40px;
  margin-top: -22px;
  border-radius: 50%;
  color: rgba(35, 172, 128, 1);
}

.login {
  padding: 9px 31px;
  gap: 10px;

  width: 101px;
  height: 38px;
  color: #fff;
  /* button2 */

  background: linear-gradient(180deg, #0b224e -140%, #01787b 93.61%);
  /* button */

  box-shadow: 0px 0px 15.7636px rgba(56, 185, 144, 0.5);
  border-radius: 34px;
}

.arrow {
  visibility: hidden;
}

.hero_title {
  font-size: 55px;
  margin-top: 200px;
}
.word {
  color: #01cd98;
  letter-spacing: -2px;
}

.animation-container {
  text-align: center;
  font-size: 50px;
  width: 80%;
  font-weight: 500;
  height: 4em;
  /* margin-left: -40px; */
}

.button_signup {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup:hover .dot_signup {
  display: none;
}

.intr span {
  width: 118px;
  height: 15px;

  /* font-family: "Gilroy-Medium"; */
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.23em;
  text-transform: uppercase;

  color: #121212;
}

.heroh1 h1 {
  width: 607.4px;
  height: 100%;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 130%;
  /* or 55px */

  color: #0e0e0e;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.lefthero {
  margin-left: 2.5rem;
}
.heroh1 p {
  width: 607.4px;
  height: 48px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 157.02%;
  /* or 24px */

  color: #0e0e0e;
}

.ourjurn h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 130%;
  /* or 52px */

  /* black */

  color: #151515;
}
.ourjurn span {
  /* width: 466px; */
  height: 55px;
  left: 119px;
  top: 43.52px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 200;
  margin-left: 12px;
  font-size: 48px;
  line-height: 114.02%;
  /* identical to box height, or 55px */

  /* linear */
}

.leftjourn p {
  width: 624.26px;
  height: 68px;
  left: 119px;
  top: 538.61px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 142.52%;
  /* or 34px */

  color: #0e0e0e;
}

.headinves {
  padding: 2.5rem;
}
.leftgoal p {
  width: 770.96px;
  height: 192px;
  left: 81.04px;
  top: calc(50% - 192px / 2);

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 133.52%;
  /* or 48px */

  color: #272727;
}

.rotag {
  display: inline-block;
  animation: rotate 10s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
    /* transform: rotate(70deg); */
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.onevison {
  padding: 102px 181px;
}

.onevison h1 {
  width: 78px;
  height: 22px;

  /* font-family: "Gilroy-Medium"; */
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.23em;
  text-transform: uppercase;

  color: #121212;

  opacity: 0.8;
}

.onevison p {
  width: 100%;
  height: 62px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 153.52%;
  /* or 31px */

  color: #121212;
}
.value h1 {
  width: 84px;
  height: 22px;

  /* font-family: "Gilroy-Medium"; */
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.23em;
  text-transform: uppercase;

  color: #121212;

  opacity: 0.8;
}

.value p {
  width: 484.5px;
  height: 93px;
  margin: 15px 0;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 153.52%;
  /* or 31px */

  color: #121212;
}

.vertical {
  width: 185.39px;
  height: 0px;
  margin: 70px 0px;
  border: 1px solid #121212;
  transform: rotate(-90deg);
}


.men {
  z-index: 80;
  left: 20%;
}

.loren {
  width: 169px;
  height: 37px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 155.02%;
  color: #000000;
}
.poly {
  top: 0;
  z-index: 0;
  left: 30%;
  margin-top: -5%;
}

.cer {
  top: 50%;
  z-index: 0;
  left: 15%;
  bottom: -45%;
  /* margin-top: -5%; */
}

.leftjourn p {
  width: 100%;
}
.lstvison {
  flex-direction: column;
}
.rightabout {
  margin-left: 20%;
  padding: 10px;
}
.aboutmem p {
  width: 172.06px;
  height: 144px;
  left: calc(50% - 172.06px / 2 + 0px);
  top: calc(50% - 144px / 2 - 15.45px);

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 200%;
  /* or 24px */
  opacity: 0;
  color: #ededed;
}

.ico {
  opacity: 0;
}
.headmeet h1 {
  /* width: 353px; */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 48px;
  line-height: 133.52%;
  /* identical to box height, or 64px */
  color: #272727;
}

.headmeet span {
  /* width: 466px; */
  height: 55px;
  left: 119px;
  top: 43.52px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 114.02%;
  /* identical to box height, or 55px */

  /* linear */

  background: linear-gradient(180deg, #151515 0%, #01787b 70.62%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

/* =================== navbar end  ============================= */
.maincontainerbox
{
background-color: red;
  margin: 0 0px;
  margin-top: 150px;
} 
.brokagecontainer{
  /* background-color: red; */
  margin: 150px;
  margin-top: 150px;
  
}
.namecontainer
{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 97.8%;
  text-align: center;
}
.listcontainer
{
  display: flex;
  justify-content: center;
  align-items: center;
 
}
.flelement
{
  margin-right: 30px;
  background-color: #01C096;
  margin: 10px;
  padding: 8px;
  border-radius: 10px;
  font-weight: 500;
  color: white;
}
.lelement
{
  margin-right: 30px;
  margin: 10px;
  padding: 8px;
  border-radius: 10px;

  color: #312c2c;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
 
}
.Calculator
{
 
  margin-top: 50px;
/* background-color: #01C096; */
/* margin-left: 80px; */
display: flex;
flex-direction: column;
justify-content: center;
align-items: start;
}
.calh1
{
  font-size: 35px;
  font-weight: 500;
  margin-left: 150px;
}
.boxcal {
  /* background-color: yellow; */
   border-radius: 5px;
  box-shadow: 0 0 2px black;
 padding:25px 25px 25px 0;

}

.marginmainbox
{
  width: 100%;
  height: 600px;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}

.textcal{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.Exchange
{
  font-size: 20px;
  margin-left: 22px;
  color: #4f4b4b;

}
.symbol
{
  font-size: 20px;
  color: #4f4b4b;
  margin-left: 40px;


}
.containercal{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 0px;
  flex-direction: column;
}
.selector1{
  margin-left: 20px;
}
.selector2{
  margin-left: 40px;
}
.lowermaindiv
{
  /* background-color: red; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* flex-direction: column; */
  margin-left: 20px;
  margin-top: 24px;
  margin-bottom: 20px;
}
.trans
{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.select1
{
  font-size: 20px;
  font-weight: 400;
  height: 40px;
  width: 250px;
}
.select2
{
  font-size: 20px;
  font-weight: 400;
  height: 40px;
  width: 290px;
}
.caltext
{
  display: flex;
  justify-content: start;
  align-items: center;
  margin-left: 50px;
  margin-top: 30px;
  color: #4f4b4b;
}
.caltext .text11{
  margin-left: 150px;
}
.options
{
  display: flex;
  justify-content: start;
  align-items: center;
  margin-left:0px;
  margin-top: 0px;
}
.opt1{
  width: 252px;
  height: 50px;
   font-size: 15px;
   font-weight: 400;
   padding-left: 20px;
   border-radius: 5px;
}
.opt_21
{
  margin-left: 152px;
 width: 20px;
 height: 20px;
 margin-right: 10px;
}
.opt_22
{
  margin-left: 30px;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.opt21text
{
  font-size: 20px;
  font-weight: 400;
  padding-left: 10px;
  color: #01C096;
}
.opt211text
{
  font-size: 20px;
  font-weight: 400;
  padding-left: 10px;
  color: black;
}
.opt22text
{
  font-size: 20px;
  font-weight: 400;
  padding-left: 10px;
  color: #01C096;
}
.byS{
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
 margin-left: 0px;
 margin-top: 60px;
 font-weight: 400;
font-size: 20px;
}
.buyopt
{
  width: 20px;
  height: 20px;
  margin-left: 42px;
}
.sellopt
{
  margin-left: 42px;
  width: 20px;
  height: 20px;

}
.buy,.sell{
  font-size: 20px;
  font-weight: 400;
  padding-left: 10px;

}
.buy{
  color: #01C096;
}
.buttonsadd
{
  display: flex;
  justify-content: center;
  align-items: center;
 margin-left: 0px;
 margin-top: 50px;
}
.btn1,.btn2
{
  margin: 5px;
  padding: 9px;
  width: 120px;
  border-radius: 10px;
}
.btn1
{
  color: white;
  background-color: #1db695; 
  margin-right: 20px;
}
.btn2{
  border: 1px solid #1db695 ;
}
.listreq
{
  margin-left: 250px;
  margin-top: 80px;
  margin-right: 300px;
  margin-bottom: 90px;
}
.itemprices
{
border-radius: 15px;
border: #01C096 2px solid;
}
.liph1
{
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 30px;
}
.itemp1
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(56, 185, 144, 0.1);
  /* border: 1px solid black; */
  padding: 18px 0;
}
.itemp
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid black; */
  padding: 18px 0;
}
.itname
{
  margin-left: 5px;
}
.itamunt
{
  margin-right: 8px;
}
.itnamesp
{
  margin-left: 5px;
  font-weight: 500;
}

.middleone {
  width: 100%;
  /* background-color: red; */
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  align-items: center;
 
}
.midcontainerobx
{ 
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.cont1
{
   padding: 10px 0;
 font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 158.52%;
  border-right: 2px solid black;
  text-align: center;
}
.bin1
{
  padding: 5px;
 width: 30px;
}
.bor1
{
  border-bottom: 2px solid black;
}
.cont1 h2
{
  padding: 0 15px;
}


.coll {
 width: 120px;
  padding: 10px;
  text-align: center;
  border-right: 2px solid black;
}
.coll:last-child {
  border-right: none; /* Remove right border for the last column */
}
.row1 .coll:last-child {
  border-bottom: 2px solid black;
}
/* =================================================================================================================== */
.headinves h1 {
  width: 638px;
  height: 101px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 56px;
  line-height: 150%;
  /* identical to box height, or 84px */

  color: #ffffff;
}
.signup {
  color: #000;
}

.headinves {
  background-image: url("./assests/Gradientbgbox5.png");
  width: 1270px;
  height: 440px;
  background-repeat: no-repeat;
  background-position: center;

}

.headinves p {
  width: 423px;
  height: 60px;
  margin-top: 12px;
  /* B1 */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  /* or 30px */

  color: #ffffff;
}
.maininvest {
  /* margin: 0 150px; */
}
.signupp {
  padding: 18px 51px;
  gap: 10px;
  width: 179px;
  height: 66px;
  background: #ffffff;
  box-shadow: 0px 0px 15.7636px #c4e2ec;
  border-radius: 34px;
}
.signup span {
  width: 77px;
  height: 30px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  /* identical to box height, or 30px */
  /* button2 */
  background: linear-gradient(180deg, #0b224e -140%, #01787b 93.61%);
  /* background-color: red; */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  /* text-fill-color: transparent; */
  color: transparent;
}

.borf {
  border-right: 2px solid #000;
}

/* ?-------------------------------fotter style */

.fbtns {
  margin: 5px;
  padding: 10px;
  background-color: #01c096;
  border-radius: 5px;
}

.com {
  width: 102px;
  height: 32px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 158.52%;
  /* identical to box height, or 32px */
  display: flex;
  align-items: center;
  color: #1c1c1c;
}

.fotterlink {
  width: 150px;
  height: 25px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 158.52%;
  /* or 25px */
  display: flex;
  align-items: center;
  color: #565656;
}
.fotterlink1 {
  width: 200px;
  height: 25px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 158.52%;
  /* or 25px */
  display: flex;
  align-items: center;
  color: #565656;
}
.fotterlink :nth-child(1) {
  margin-top: 20px;
}

.fotterlink {
  margin: 11px 0;
}
.fotterlink1 {
  margin: 11px 0;
}

/* ?lastchanges? */
.rightjour {
  margin-left: 25%;
}
.rightabout {
  margin-left: 25%;
}

/* //?maainfooter[[[[[[[[[[[[[[[[[[[[[[ */

footer {
  /* background-color: black; */
  background: #121212;
}
.footer1 {
  display: flex;
  justify-content: space-evenly;
}
.titlef {
  color: rgba(35, 172, 128, 1);
  font-weight: 400;
  font-size: 20px;
}
li,
.text1 {
  color: white;
}
.footerlogo {
  color: rgba(35, 172, 128, 1);
}
.textfooter,
.textfooteraction {
  color: white;
  width: 560px;
}
.footerbottom {
  display: flex;
  justify-content: space-between;
  margin-left: 50px;
  margin-right: 20px;
}
.footerlog {
  margin-left: 50px;
  margin-bottom: 10px;
}
.socialmedia {
  display: flex;
}
.socialmedia img {
  margin-left: 20px;
}
.last {
  color: white;
  margin-left: 50px;
}
.last p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 158.52%;
  /* or 16px */

  /* display: flex;
  align-items: center; */

  color: #bcc4c2;
}
.last2 {
  display: flex;
  color: white;
  margin-top: 20px;
  justify-content: space-between;
}
.last2 p {
  font-size: 17px;
  line-height: 158.52%;
  /* or 22px */

  /* display: flex;
  align-items: center; */

  color: #bcc4c2;
}

@media (min-width: 500px) and (max-width: 768px) {
  .maincontainerbox
  {
    background-color:green;
    /* width: 100%; */
    margin: 150px 0;
  }
  .textfooter {
    color: white;
    width: 100%;
  }
  .textfooteraction {
    color: white;
    width: 100%;
  }

  .mainjourny {
    flex-direction: column;
  }
  .rightjour {
    transform: rotate(90deg);
    margin-left: -10%;
    margin-top: 20%;
  }
  .tools {
    flex-wrap: wrap;

    width: 50%;
  }
  .mainlinks {
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
  }
  .headinves {
    flex-direction: column;
  }
  .headinves h1 {
    width: 100%;
    font-size: 36px;
    padding: 20px;
  }
  .headinves p {
    width: 100%;
  }
  .heroh1 h1 {
    padding: 10px;
    font-size: 24px;
    width: 100%;
  }
  .heroh1 p {
    padding: 10px;
    width: 100%;
  }

  .leftjourn {
    padding: 10px;
  }

  .men {
    z-index: 80;
    left: 40%;
  }
  .poly {
    top: 0;
    z-index: 0;
    left: 50%;
    margin-top: -5%;
    display: none;
  }
  .cer {
    z-index: 0;
    left: 29%;
    bottom: -45%;
    display: none;
  }
  .leftjourn p {
    width: 100%;
  }
  .lstvison {
    flex-direction: column;
  }
  .rightabout {
    margin-left: 20%;
    padding: 10px;
  }

  /* .mainteam {
    padding: 5px;
  }
  .cardteam {
    flex-wrap: wrap;
  }
  .member1 {
    margin: 30px 0;
  } */
  .headmeet {
    padding: 15px;
  }
  .onevison {
    padding: 10px 10px;
  }
  .valuesss {
    margin-top: 80px;
    padding: 10px;
  }

  .mainhero {
    flex-direction: column;
  }

  .lefthero {
    margin-left: 0;
  }

}

@media (max-width: 1100px) {
  .maincontainerbox
  {
    background-color: aqua;
    margin: 150px 0;
    /* width: 100%; */
  }
  .maininvest
  {
    /* background:red; */
    margin: 0;
  }
  .header {
    /* flex-wrap: wrap; */
    justify-content: space-between;
  }
  .hamburg {
    display: block;
  }
  .headinves {
    width: 100%;
    flex-wrap: wrap;
  align-items: center;
  }
  .button_signup
  {
    margin-top: 10px;
  }
 
  .items {
    display: none;
  }

  .serachs {
    /* display: none; */
  }

  .login_btn {
    /* display: none; */
  }
 .middleone
 {
  width: 100%;
  /* background-color: red; */

 }
 .midcontainerobx
 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 20px;
  overflow-x: scroll;
 }
 .listreq
 {
  margin-left: 50px;
  margin-right: 50px;
 }
}

@media (max-width: 560px) {
  .maincontainerbox
  {
    background-color: chartreuse;
    margin: 150px 0;
    /* width: 100%; */
  }
  .serachs {
    display: none;
  }
  .serchicon {
    height: 44px;
    width: 34px;
    display: block;
  }
}
@media (min-width: 320px) and (max-width: 500px) {
  .maincontainerbox
  {
    background-color: orange;
    margin: 150px 0;
    /* width: 100%; */
  }
  .logo {
    /* background-color:red; */
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
  }
  .men {
    z-index: 80;
    left: 33%;
  }
  .rightabout {
    margin-left: 28%;
  }
  .lefthero {
    margin-left: 1.5rem;
  }
  .textfooter {
    color: white;
    width: 100%;
  }

  .onevison {
    padding: 10px;
  }
  .socialmedia {
    position: absolute;
    top: 5%;
    padding: 50px 0;
  }
  /* =======================================
   */
  
  /* ======================================= */
  .mainteam {
    padding: 0rem;
  }

  .leftjourn p {
    width: 100%;
  }
  .footerbottom {
    flex-direction: column;
  }
  .textfooteraction {
    color: white;
    width: 100%;
  }
  .mainjourny {
    flex-direction: column;
  }
  .rightjour {
    transform: rotate(90deg);
    margin-left: -10%;
    margin-top: 20%;
  }
  .tools {
    flex-wrap: wrap;

    width: 100%;
  }

    .mainlinks {
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      padding: 0;
  }
  
  .maininvest
  {
    margin: 0;
  }
  .headinves {
    flex-wrap: wrap;
    padding: 4px;
  }
  .button_signup {
    margin-top: 56px;
}
  .headinves h1 {
    width: 100%;
    font-size: 36px;
    padding: 20px;
  }
  .headinves p {
    width: 100%;
    padding: 20px;
  }
  .heroh1 h1 {
    padding: 10px;
    font-size: 24px;
    width: 100%;
  }
  .member13 {
    margin: 20px 0;
  }
  .heroh1 p {
    padding: 10px;
    width: 100%;
  }
 
  .listcontainer
  {
    width: 100%;
    position: relative;
    overflow-x: scroll;
    text-align: center;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  .listcontainer::-webkit-scrollbar {
    display: none;
  }
  .marginmainbox,.boxcal
  {
    width: 100%;
  }
  .containercal,.textcal
  {
    margin-left: 20px;
    align-items: start;
    flex-direction: column;
  }
  .selector1{
    margin-left: 0px;
  }
  .selector2{
    margin-left: 0px;
  }
  .Exchange
{
  margin-left: 0px;
}
.symbol
{
  margin-left: 0px;
}
.caltext
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 20px;
  margin-top: 30px;
  color: #4f4b4b;
}
.caltext .text11{
  margin-left: 0px;
}
.options
{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-left: 20px;
  /* background-color: red; */

  margin-top: 50px
}
.input200
{
  margin: 20px 0;
  margin-left: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;

}
.byS
{
  width: 100%;
  font-size: 15px;
  font-weight: 400;
  /* background-color: #fff; */
  margin-left: 0px;
  margin-top: 0px;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
}
.opt1{
  width: 252px;
  height: 50px;
   font-size: 15px;
   font-weight: 400;
   padding-left: 20px;
   border-radius: 5px;
   font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
}
.opt_21
{
  margin-left: 20px;
 width: 20px;
 height: 20px;
 margin-right: 0px;
}
.opt_22
{
  margin-left: 30px;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.opt21text
{
  font-size: 20px;
  font-weight: 400;
  padding-left: 10px;
  color: #01C096;
}
.opt211text
{
  font-size: 20px;
  font-weight: 400;
  padding-left: 10px;
  color: black;
}
.opt22text
{
  font-size: 20px;
  font-weight: 400;
  padding-left: 10px;
  color: #01C096;
}
.buttonsadd
{
  margin-left: 20px;
  justify-content: flex-start;
}
.lowermaindiv
{
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
  align-items: start;
  margin-left: 10px;
  margin-bottom: 50px;
}
.containercal
{
  margin-top: 20px;
}
.trans
{
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
  align-items: start;
  margin-left: 10px;
}
.listreq
{
  margin-left: 0;
  margin-right: 0;
}
.midcontainerobx
{
  width: 180px;
  flex-direction: column;
 /* background-color: red; */
 align-items: flex-end;
 text-align: end;

 margin: 0;
 padding: 0;
}

.cont1 
{
  padding: 10px 0px;
  margin-right: 2px;
}
.middleone
{
  width: 100%;
  /* background-color: green; */
}
.bin1
{
  padding: 8px;
 width:50px;
}
.calh1
{
  margin-left: 10px;
  margin-bottom: 20px;
}
}
@media (min-width: 769px) and (max-width: 1024px) {
  .maincontainerbox
  {
    background-color: rgb(106, 110, 32);
    margin: 150px 0;
    width: 100%;
  }
  .onevison p {
    width: 100%;
    /* padding: 10px; */
  }

  .rightjour {
    margin-left: 10%;
  }
  .maininvest {
    margin: 0px;
  }
  .mainteam {
    padding: 0rem;
  }
  .rotag {
    width: 80%;
  }
  .valuesss {
    padding: 50px;
    flex-direction: column;
  }
  .value p {
    width: 100%;
  }
  .leftjourn {
    padding: 10px;
  }
  .vertical {
    display: none;
  }
  .rightabout {
    margin-left: 38%;
    /* width: 50%; */
  }

  .men {
    /* z-index: 80;
      left: 18%; */
    width: 20%;
  }
  .headinves {
    width: 100%;
    /* flex-wrap: wrap; */
    flex-direction: row;
  }
  .middleone {
    width: 100%;
    
   
  }
  .midcontainerobx
  {
 
    background-color: red;
    overflow-x: scroll;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    white-space: nowrap;
    padding: 10px;
  }
  .cont1
  {
     padding: 15px 0;
  }
  .bin1
  {
   width: 28px;
  }
  .listreq
  {
    margin: 30px 0;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }

  .itemprices
  {
    width: 50%;

  }
  
}
@media (min-width: 1025px) and (max-width: 1440px) {
  .maincontainerbox
  {
    background-color: rgb(255, 0, 234);
   margin-top: 150px;
   margin-bottom: 10px;
   margin-left: 20px;
   margin-right: 20px;
  }
  .onevison p {
    width: 100%;
    /* padding: 10px; */
  }

  .rightjour {
    margin-left: 10%;
  }
  .maininvest {
    margin: 0px 60px;
  
  }
  .mainteam {
    padding: 0rem;
  }
  .rotag {
    width: 80%;
  }
  .valuesss {
    padding: 50px;
    flex-direction: column;
  }
  .value p {
    width: 100%;
  }
  .leftjourn {
    padding: 10px;
  }
  .vertical {
    display: none;
  }
  .rightabout {
    margin-left: 38%;
    /* width: 50%; */
  }


  .men {
    /* z-index: 80;
      left: 18%; */
    width: 20%;
  }
  .headinves {
    width: 100%;
    /* flex-wrap: wrap; */
    flex-direction: row;
  }
}